.buttonTag{
    padding-left: 16px;
    padding-right: 16px;
    height: 32px;
    width: 100px;

    border-radius: 10px;

    font-style: italic;

    background-color: var(--backgroundElements);

}